

.form-box{
    width: 600px;
    height: 400px;
    padding: 25px;
    color: #fff;
    background:rgba(68, 85, 143, 0.7);
    border: 10px solid rgba(4, 35, 121, 0.3);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;

}
.link{

    color: rgb(55, 216, 55);
}