.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
    height: 60px;
}
.justify-content-between{
    margin-top: 5px;
}
button {
    border: 1px solid rgba(10, 10, 66, 0.5);
    border-radius: 5px;
    background: transparent;
    margin-left: 10px;
}
.logout {
    padding-left: 60%;
}
.mat-icon{
    text-align: center;
    vertical-align: middle;
}
h2{
    color: #c78409 ;
    font-size: 2rem bold;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 60px;
}

